.bg1,
.bg2 {
}

.bg1 {
  width: 500px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: auto; */
}

.bg2 {
  width: 70vw;
  height: 70vh;

  background-repeat: no-repeat;
  background-position: center;
}

.image {
  background-color: black;
  opacity: 0.08;
  filter: alpha(opacity = 8) !important;
}
